@charset "utf-8";
@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
*{
    box-sizing: border-box;
}
.hide{
    margin: -1px;
    width: 1px;
    height: 1px;
    position: absolute;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
a{
    text-decoration: none;
    color: inherit;
    display: block;
}
li{
    list-style: none;
}
button{
    border: 0;
    background-color:transparent;
}